* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    margin: 0 auto;
    line-height: 1.3;
}

header {
    width: 100%;
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    background-color: rgb(73, 72, 72);
    width: 100%;
    height: 75px;
}

#name-logo {
    display: flex;
    justify-content: flex-start;
}

#logo-box {
    background-color: paleturquoise;
    display: flex;
    align-self: center;
    height: 50px;
    padding-left: 30px;
    padding-right: 10px
}

h1 {
    font-size: 200%;
    margin: 0 auto;
    color: rgb(73, 72, 72);
    align-self: center;
}
.nav-buttons {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-self: center;
    text-decoration: none;
}

.nav-btn {
    padding: 20px;
}

#resume {
    padding-right: 60px;
}

.banner-container {
    position: relative;
    
}
]
#banner-img {
    width: 100%;
    height: 250px;
}

#subtitle-box {
    position: absolute;
    right: 50px;
    bottom: 20px;
    background-color: paleturquoise;
    color: rgb(73, 72, 72);
}

main {
    background-color: white;
}








@media screen and (max-width 796px) {
    nav {
        flex-direction: column;
    }
}